# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.local
.env.*
! .env.example

# Logs
logs/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*
!frontend/.env.example

# Docker
Dockerfile
.dockerignore

# IDE
.vscode/
.idea/
.pytest_cache/
pytest.ini
*.sqlite3